Django>=1.4,<1.6
psycopg2
dj-database-url==0.2.1
South==0.7.6
Fabric
gunicorn
Pillow
django-extensions
django-debug-toolbar
django-allauth==0.9.0
django-avatar
django-site-basics==0.2.4
django-filer
goscalecms
cmsplugin-filer
cmsplugin-contact
django-reversion
cmsplugin-text-wrapper
pylibmc==1.2.3
